
AddType font/ttf .ttf 
AddType font/eot .eot 
AddType font/otf .otf 
AddType font/woff .woff 
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>



<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpressbootcamp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /wordpressbootcamp/index.php [L]

#LMS
RewriteRule ^favicon.ico$ favicon.ico [L]
RewriteRule ^lms/?$										/lms/index.php?&%{QUERY_STRING} [L]
RewriteRule ^lms/recuperar-senha?$						/index.php?categoria=site&module=lms&do=recuperarSenha&%{QUERY_STRING} [L]
RewriteRule ^lms/([^/]+)/([^/]+)/([^/]+)/?$				/lms/index.php?categoria=$1&module=$2&do=$3&%{QUERY_STRING} [L]
RewriteRule ^lms/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/?$	/lms/index.php?categoria=$1&module=$2&do=$3&id=$4&%{QUERY_STRING} [L]

#Portal
RewriteRule ^([^lms][^/]+)/([^/]+)/([^/]+)/?$					/index.php?categoria=site&module=$1&do=$2&id=$3&%{QUERY_STRING} 
RewriteRule ^([^lms][^/]+)/([^/]+)/?$							/index.php?categoria=site&module=$1&do=$2&%{QUERY_STRING} 
RewriteRule ^([^lms][^/]+)/?$									/index.php?categoria=site&module=$1&do=index&%{QUERY_STRING} 
RewriteRule ^/?$										/index.php?categoria=site&module=home&do=index&%{QUERY_STRING} 



</IfModule>


#Força a utilizar Cache-Control e Expires header
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>
FileETag None
<IfModule mod_expires.c>

 ExpiresActive on
 ExpiresDefault "access plus 1 month"
 ExpiresByType text/cache-manifest "access plus 0 seconds"
 
 # Html, PHP e TPL
 #ExpiresByType text/html "access plus 1 week"
 #ExpiresByType text/php "access plus 1 week"
 #ExpiresByType text/tpl "access plus 1 week"
 
 # Data
 ExpiresByType text/xml "access plus 1 week"
 ExpiresByType application/xml "access plus 0 seconds"
 ExpiresByType application/json "access plus 0 seconds"

 # Favicon
 ExpiresByType image/x-icon "access plus 1 week"
 
 # Media: images, video, audio
 ExpiresByType image/gif "access plus 1 month"
 ExpiresByType image/png "access plus 1 month"
 ExpiresByType image/jpg "access plus 1 month"
 ExpiresByType image/jpeg "access plus 1 month"
 ExpiresByType video/ogg "access plus 1 month"
 ExpiresByType audio/ogg "access plus 1 month"
 ExpiresByType video/mp4 "access plus 1 month"
 ExpiresByType video/webm "access plus 1 month"
 
 # HTC files
 ExpiresByType text/x-component "access plus 1 month"
 
 # Webfonts
 ExpiresByType application/x-font-ttf "access plus 1 month"
 ExpiresByType font/opentype "access plus 1 month"
 ExpiresByType application/x-font-woff "access plus 1 month"
 ExpiresByType image/svg+xml "access plus 1 month"
 ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
 
 # CSS / JS
 #ExpiresByType text/css "access plus 1 month"
 #ExpiresByType application/javascript "access plus 1 month"
 #ExpiresByType application/x-javascript  "access plus 1 month"
</IfModule>

#Força o IE a sempre carregar utilizando a última versão disponível
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  <FilesMatch "\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>