/*	Resets
	------	*/

html, body, figure, button, input {
    
	margin:0;
	padding:0;
	border:0;
    
}

button {
    
    cursor:pointer;
    
}

button:focus {
    
    outline:0;
    
}

select:focus {
    
    outline:0;
    
}

a {
    
    outline:0;
    text-decoration:none;
    
}

ul {

    list-style-type:none;

}

img {

    outline:0;
    border:none;

}

section:after {
    
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;

}

.btn-orange {
    
    background:#e25143;
    padding:8px 20px;
    font-family: 'bariol_boldbold';
    font-size:14px;
    text-align:center;
    color:#fff !important;
    border-radius:4px;
    transition:all 0.1s linear;
    
}

.btn-orange:hover {
    
    background:#c9473a !important;
    
}

.btn-default {
    
    background:#222;
    padding:8px 20px;
    font-family: 'bariol_boldbold';
    font-size:14px;
    color:#fff;
    border-radius:4px;
    transition:all 0.1s linear;
    
}

.btn-default:hover {
    
    background:#000;
    
}

.btn-green {
    
    background:#6bc150;
    padding:8px 20px;
    font-family: 'bariol_boldbold';
    font-size:14px;
    color:#fff;
    border-radius:4px;
    transition:all 0.1s linear;
    
}

.btn-green:hover {
    
    background:#5fac47;
    
}

.btn-red {
    
    background:#d63131;
    padding:8px 20px;
    font-family: 'bariol_boldbold';
    font-size:14px;
    color:#fff !important;
    border-radius:4px;
    transition:all 0.1s linear;
    
}

.btn-red:hover {
    
    background:#cd2d2d !important;
    
}

.btn-green-shadow {
    
    background:#6dbb4a;
    padding:8px 20px;
    font-family: 'bariol_boldbold';
    font-size:14px;
    color:#fff;
    text-align:center;
    border-radius:4px;
    transition:all 0.1s linear;
    box-shadow: 0 2px 0 #398439;
    
}

.btn-green-shadow:hover {
    
    background:#398439;
    
}

.btn-top {
    
    background:#e25143;
    width:40px;
    height:40px;
    line-height:40px;
    font-family:'bariol_boldbold';
    color:#fff;
    text-align:center;
    opacity:1;
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    border-radius:4px;
    transition:background 0.1s linear;

}

.btn-top:hover {
    
    background:#c9473a;

}

.btn-block {

    display:block;
    width:100%;

}

.payment-content .alert {

    width:auto;
    margin:0 0 30px 0;
    padding:20px;

}

.alert-orange {

    background:#e25143;

}

.text-center {

    text-align:center;

}

.ballon {

    background:#50bc8f;
    font-family:'bariol_boldbold';
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    padding:4px 12px;
    top:-15px;
    left:18%;
    position:absolute;

}

.ballon:after {

    top:100%;
    left:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(80, 188, 143, 0);
    border-top-color:#50bc8f;
    border-width:8px;
    margin-left:-8px;

}

.ballon-small {

    background:#50bc8f;
    font-family:'bariol_boldbold';
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
    padding:2px 8px;

}