.verified {

	width:948px;
	height:120px;
	margin:0 0 30px 0;

}

.verified i {

	font-size:40px;
	margin:40px 70px 0 0;
	float:left;

}

.verified .circle {

	background:#f0f0f0;
    width:80px;
    height:80px;
    border-radius:100%;
    text-align:center;
    position:relative;
    padding:20px;
    float:left;
    margin:0 71px 0 0;

}

.verified .circle span {

	font-family:'bariol_boldbold';
	font-size:40px;
	color:#999;
	line-height:40px;

}

.verified .circle p {

	width:auto !important;
	font-family:'bariol_regularregular';
	font-size:16px;
	color:#999;
	line-height:0;
	margin:0;
	padding:15px 0;

}

.verified .circle:last-child {

    margin:0;

}

.active-circle {

	background:#e25143 !important;
	color:#fff !important;

}

.active-circle span {

	color:#fff !important;

}

.active-circle p {

	color:#fff !important;

}

.active-row {

	color:#e25143;

}